.delete-button {
    position: absolute;
    right: 10px;
    opacity: 0;
    transition: 0.2s
}

.list-group-item .btn-close {
    opacity: 0;
}

.list-group-item:hover .btn-close {
    opacity: 1;
}

.list-items {
    position: relative;
    min-width: 300px;
}

.body {
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1505744386214-51dba16a26fc?q=80&w=2012&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: auto;
    background-position: left;
}